<!-- <h1>Ten cua cac ban: {{ title }}</h1>
<h2>Khoa hoc: {{ khoahoc }}</h2>
<h3>Mon hoc: {{ monhoc }}</h3>

<div class="container">
  <div class="caption">
    <h1>Thong tin sinh vien</h1>
    <img src="assets/images/{{ student.anh }}" alt="" />
  </div>
  <ul>
    <li><span>Ho ten: </span>{{ student.hoten }}</li>
    <li><span>Ngay sinh: </span>{{ student.ngaysinh }}</li>
    <li><span>Gioi tinh: </span>{{ student.gioitinh }}</li>
    <li><span>Diem trung binh: </span>{{ student.diemTB }}</li>
  </ul>
</div> -->

<router-outlet></router-outlet>
